p{
    font-family: Arial;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 0px;
}
.new{
    color: rgb(247, 66, 16);
    font-size: x-small;
}
.macbook{
    font-weight: bolder;
}
.title{
    font-weight: bolder;
    font-size: x-large;
}

button{
    background-color: rgb(66, 109, 238);
    margin-left: 140px;
    color: white;
    border: none;
    border-radius: 15px; 
    padding-top:4px;
    padding-bottom:4px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;  



}